[submodule "gateway"]
	path = gateway
	url = git@github.com:dr-dracking/gateway.git
[submodule "auth"]
	path = auth
	url = git@github.com:dr-dracking/auth.git
[submodule "product"]
	path = product
	url = git@github.com:dr-dracking/product.git
